{% extends 'websec/base.html.twig' %}

{% block main %}

    <div class="box">
        <h2>Votre message</h2>
        {% include '_includes/forms/detail.html.twig' %}
    </div>

    <div class="box">
        <h2>Votre réponse</h2>
        {{ gabarit.setViewParameter('donneesFormulaire', mailSecInfo.donneesFormulaireReponse) }}
        {{ gabarit.setViewParameter('fieldDataList', mailSecInfo.fieldDataListReponse) }}
        {{ gabarit.setViewParameter('recuperation_fichier_url', reponse_recuperation_fichier_url) }}
        {{ gabarit.setViewParameter('suppression_fichier_url', suppression_fichier_url) }}
        {{ gabarit.setViewParameter('inject', inject) }}

        {{ gabarit.setViewParameter('page', 0) }}
        {{ gabarit.setViewParameter('my_role', '') }}
        {{ gabarit.setViewParameter('action_url', path('mailsec_recipient_reply', {'key': mailSecInfo.key})) }}
        {{ gabarit.render('DonneesFormulaireEdition') }}
    </div>
{% endblock %}

