{% extends 'connexion/base.html.twig' %}

{% block main %}
    {% if gabarit.getLastError().getLastError() or gabarit.getLastMessage().getLastMessage() %}
        <ls-lib-forgot-password-success
                visual-configuration="{{ login_page_configuration }}"
                logo="{{ asset('img/commun/pastell-color-grey.svg') }}"
        >
        </ls-lib-forgot-password-success>

        <script>
            document.getElementsByTagName("ls-lib-forgot-password-success")[0].addEventListener('backToLogin', function () {
                window.location = "{{ path('app.legacy.connexion_connexion') }}";
            });
        </script>

    {% else %}
        <ls-lib-forgot-password
                visual-configuration="{{ login_page_configuration }}"
                logo="{{ asset('img/commun/pastell-color-grey.svg') }}"
                form-action="{{ path('app.legacy.connexion_doOublieIdentifiant') }}"
                one-field-forgot=true
                usernameormail-input-name="login"
        >
            {{ gabarit.displayCSRFInput() }}

            {% if config and config.get('procedure_recup') %}
                <style>
                    #ls-forgot-form .usernameormail,
                    #ls-forgot-form > .alert,
                    #ls-forgot-form .btn-primary {
                        display: none;
                    }
                </style>
                <div class="forgot-form-addons">
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i>
                        {{ gabarit.getHTMLPurifier.purify(config.get('message'))|raw|nl2br }}
                    </div>
                </div>
            {% endif %}
        </ls-lib-forgot-password>

        <script>
            document.getElementsByTagName("ls-lib-forgot-password")[0].addEventListener('backToLogin', function () {
                window.location = "{{ path('app.legacy.connexion_connexion') }}";
            });
        </script>
    {% endif %}
{% endblock %}
