{% extends 'connexion/base.html.twig' %}

{% block main %}
    <ls-lib-reset-password
            visual-configuration="{{ login_page_configuration }}"
            logo="{{ asset('img/commun/pastell-color-grey.svg') }}"
            form-action="{{ path('app.legacy.connexion_doModifPassword') }}"
            password-input-name="password"
            password-confirm-input-name="password2"
    >
        {{ gabarit.displayCSRFInput() }}
        <input type='hidden' name='mail_verif_password' value="{{ mail_verif_password }}"/>
        {% if gabarit.getLastError().getLastError() %}
            <div class="alert alert-danger">
                {{ gabarit.getLastError().getLastError() }}
            </div>
        {% endif %}
        <div class="box">
            <div class="alert alert-info">
                Le calcul de la force du mot de passe est basé sur
                <a href="https://www.ssi.gouv.fr/administration/precautions-elementaires/calculer-la-force-dun-mot-de-passe/
" target="_blank">la documentation de l'ANSSI</a>
            </div>
        </div>
    </ls-lib-reset-password>

    {% set jsFiles = [
        'node_modules/jquery/dist/jquery.min.js',
        'node_modules/@libriciel/ls-jquery-password/dist/js/ls-jquery-password.min.js',
    ] %}
    {% for jsFile in jsFiles %}
        <script type="text/javascript" src="{{ jsFile }}"></script>
    {% endfor %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=password]')
                .lsPasswordStrengthMeter({
                    "className": "ls-password-strength-meter",
                    "inputGroupClass": "input-group",
                    "inputGroupTag": "div",
                    "thresholds": [
                        {"value": 0, "className": "bg-danger"},
                        {"value": {{ password_min_entropy // 2 }}, "className": "bg-warning"},
                        {"value": {{ password_min_entropy }}, "className": "bg-success"}
                    ]
                })
                .lsPasswordToggler($.fn.lsPasswordToggler.configure('4.3'));

        });
    </script>
{% endblock %}
