<div class='box'>
    <h2>
        {{ sub_title }}
    </h2>

    {% if filtre is defined and filtre == 'lock' %}
        <a class='btn btn-warning mb-2' href="{{ path('app.legacy.daemon_unlockAll') }}">
            <i class="fa fa-unlock-alt"></i>&nbsp;Reprendre l'exécution de tous les travaux
        </a>
    {% endif %}

    <table class="table table-striped">
        <tr>
            <th>#ID travail</th>
            <th>Type</th>
            <th>Suspendu</th>
            <th>Entité</th>
            <th>Dossier / Connecteur</th>
            <th>État source<br/>État cible</th>
            <th>Premier essai</th>
            <th>Dernier essai</th>
            <th>Nombre d'essais</th>
            <th>Dernier message</th>
            <th>Prochain essai</th>
            <th>File d'attente</th>
            <th>#ID processus</th>
            <th>PID processus</th>
            <th>Début processus</th>
        </tr>
        {% for jobInfo in job_list %}
            <tr>
                <td>
                    <a href="{{ path('app.legacy.daemon_detail', {'id_job': jobInfo.id_job}) }}">{{ jobInfo.id_job }}</a>
                </td>
                <td>{{ jobInfo['type'] == constant('Job::TYPE_DOCUMENT') ? 'Dossier' : 'Connecteur' }}</td>
                <td>
                    {% if jobInfo.is_lock %}
                        <p class='alert alert-danger'>OUI <br/>Depuis
                            le {{ gabarit.FancyDate.getDateFr(jobInfo.lock_since) }}
                            <a href="{{ path('app.legacy.daemon_unlock', {'id_job': jobInfo.id_job, 'return_url': return_url}) }}"
                               class="btn-warning btn">
                                <i class="fa fa-unlock-alt"></i>&nbsp;
                                Reprendre
                            </a>
                        </p>
                    {% else %}
                        <p>NON
                            <a href="{{ path('app.legacy.daemon_lock', {'id_job': jobInfo.id_job, 'return_url': return_url}) }}"
                               class="btn btn-warning">
                                <i class="fa fa-lock"></i>&nbsp;
                                Suspendre</a></p>
                    {% endif %}
                </td>
                <td>{{ jobInfo.id_e }}</td>
                <td>
                    {% if jobInfo.id_d %}
                        <a href="{{ path('app.legacy.document_detail', {'id_e': jobInfo.id_e, 'id_d': jobInfo.id_d}) }}">
                            {{ jobInfo.id_d }}
                        </a>
                    {% endif %}
                    {% if jobInfo.id_ce %}
                        <a href="{{ path('app.legacy.connecteur_edition', {'id_ce': jobInfo.id_ce}) }}">
                            {{ jobInfo.id_ce }}
                        </a>
                    {% endif %}
                </td>
                <td>{{ jobInfo.etat_source }}<br/>{{ jobInfo.etat_cible }}</td>
                <td>{{ gabarit.FancyDate.getDateFr(jobInfo.first_try) }}</td>
                <td>{{ gabarit.FancyDate.getDateFr(jobInfo.last_try) }}</td>
                <td>{{ jobInfo.nb_try }}</td>
                <td>{{ jobInfo.last_message }}</td>
                <td>
                    {{ gabarit.FancyDate.getDateFr(jobInfo.next_try) }}
                    <br/>{{ gabarit.FancyDate.getTimeElapsed(jobInfo.next_try) }}
                </td>
                <td>{{ jobInfo.id_verrou }}</td>
                <td>{{ jobInfo.id_worker }}</td>
                <td>
                    {{ jobInfo.pid }}
                    {% if jobInfo.pid %}
                        {% if not jobInfo.termine %}
                            <a href="{{ path('app.legacy.daemon_kill', {'id_worker': jobInfo.id_worker, 'return_url': return_url}) }}"
                               class='btn btn-danger'>
                                <i class="fa fa-bolt"></i>&nbsp;
                                Tuer
                            </a>
                        {% else %}
                            <br/>{{ jobInfo.message }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if jobInfo.id_worker %}
                        {{ gabarit.FancyDate.getDateFr(jobInfo.date_begin) }}
                        <br/>{{ gabarit.FancyDate.getTimeElapsed(jobInfo.date_begin) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if filtre is defined and filtre == 'lock' %}
        <a class='btn btn-warning mb-2' href="{{ path('app.legacy.daemon_unlockAll') }}">
            <i class="fa fa-unlock-alt"></i>&nbsp;Reprendre l'exécution de tous les travaux
        </a>
    {% endif %}
</div>
