{% extends "base-email.html.twig" %}

{% block title %}
    <h1>Notification</h1>
{% endblock %}

{% block content %}
    <div>
        <p>Bonjour, </p>

        <p>Le système Pastell vous envoie la notification suivante : </p>

        <table aria-describedby="table-caption" border="1">
            <caption id="table-caption">Propriété du document: </caption>
            <tr>
                <th>Entité</th>
                <td>{{ entityName }}</td>
            </tr>
            <tr>
                <th>Document </th>
                <td> {{ documentTitle }} ({{ type }})</td>
            </tr>
            <tr>
                <th>Action réalisée</th>
                <td>{{ message }} ({{ action }})</td>
            </tr>

        </table>

        <div style="text-align: center;">
            <a href="{{ url }}" class="btn">Consulter le document</a>
        </div>

        <p>Vous recevez ce message car vous êtes abonné aux messages de type « {{ type }}  ».</p>
    </div>
{% endblock %}


