<p>Bonjour, </p>

<p>Le système Pastell vous envoie la notification suivante : </p>

<p>{{ message }}</p>

<p>URL de consultation du document :  <a href="{{ url }}">{{ url }}</a> </p>

<p>-- </p>
<p>Pastell - {{ SITE_BASE }}</p>

<p>Vous recevez ce message car vous êtes abonné aux messages de type « {{ type }}  ».</p>

